<div class="container">
    <h3>About US</h3>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
        <div class="col-md-4">
            <h5>Develop skills for real career growth</h5>
            <p>Cutting-edge curriculum designed in guidance with industry and 
                academia to develop job-ready skills</p>
        </div>
    </div>
</div>